
img {
    width: 50%;  /* Define a nova largura maior */
    height: auto;  /* Mantém a proporção correta para não distorcer */  
  }

 .tudo {
  width: 220px;
  border: 1px solid black;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 8px rgb(0,0,0,0.20);
 }
